{%extends 'layout.html'%}
{%block title%} 
About Us 
{%endblock%}
{%block body%}

    <div class="page-content">
      <div class="wrapper">
        <article class="post">

  <header class="post-header">
    <h1 class="post-title">About Us</h1>
  </header>

  <div class="post-content">
    <p>AITP is a registered student organization here at Clarion University. We are based out of Techfloor which is 
located in Ralston Hall, room G-42. If you get down to the basement and wander around eventually you will see signs if you don’t know where it is. We, as an organization, strive to better our members through both teaching and learning oportunities.</p>

<h1 id="meetings">Meetings</h1>
<p>We meet every Monday at 7:00PM at Techfloor. If you would like to be notified of cancellations then join the organization on <a href="https://cuconnect.clarion.edu/organization/aitp">CUConnect</a>!</p>

<h1 id="officers">Officers</h1>
<h4 id="president">President</h4>
<p>Alex Day</p>
<h4 id="vice-president">Vice-President</h4>
<p>Jon Lander</p>
<h4 id="treasurer">Treasurer</h4>
<p>Thomas Csorba</p>
<h4 id="secretary">Secretary</h4>
<p>Heidi-Jo Shuttleworth</p>
<h4 id="pr-chair">PR-Chair</h4>
<p>Kayln Combetty</p>

  </div>

</article>

      </div>
    </div>


  </body>

</html>


{%endblock%}