{%extends 'layout.html'%}
{%block body%}
<div class="page-content">
      <div class="wrapper">
        <article class="post" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <h1 class="post-title" itemprop="name headline">Minutes 9/24/18</h1>
    <p class="post-meta"><time datetime="2018-09-25T00:00:00+00:00" itemprop="datePublished">Sep 25, 2018</time></p>
  </header>

  <div class="post-content" itemprop="articleBody">
    <h1 id="hacktoberfest">Hacktoberfest</h1>
<ul>
  <li>Instead holding the normal meeting on October 15th, we will meet in Becker room 120.</li>
  <li>Hacktoberfest is a month-long event</li>
  <li>We are holding a seminar (open to the public) on how to participate in the event</li>
  <li>Posters will soon be hung up on Becker’s walls</li>
  <li>If you want to help, email AITP’s email</li>
</ul>

<h1 id="byoc-build-your-own-computer">BYOC (build your own computer)</h1>
<ul>
  <li>We are looking for a group of people to come together that (hopefully) knows some information already</li>
  <li>What we will be doing is:
    <ul>
      <li>Finding out what is currently wrong with the computer we have</li>
      <li>Making a presentation</li>
      <li>Present sometime in Fall (in Becker 122 around 6pm possibly)</li>
      <li>We are gathering a list of names who are interested and a possible time to meet</li>
    </ul>
  </li>
  <li>If interested contact AITP’s email</li>
</ul>

<h1 id="vexs-robotics">Vex’s Robotics</h1>

<ul>
  <li>The high school finished building the robot, we should get it sometime this upcoming week</li>
  <li>They wish to set up a forum using google, where they would post questions and we would respond (within twenty-four hours) while we are free throughout the day</li>
  <li>Nothing is completely figured out, however the initial plan is,
    <ul>
      <li>Hold a workshop day on November 19th from 9:30 to 1:00 (Monday before Thanksgiving break)</li>
      <li>We want to set up several stations where we split up the kids, some station ideas are:
        <ul>
          <li>Engineering notebook</li>
          <li>Use raspberry pie where we can mod mondcraft</li>
          <li>Code in python a robot (in becker)</li>
          <li>Put together safety rules (so the kids don’t fight)</li>
          <li>A possible Tour (advertise Clarion)</li>
          <li>Lunch will be served</li>
        </ul>
      </li>
      <li>At each station, we will have to talk to the kids as fast or as slow as the time is allotted.</li>
    </ul>
  </li>
  <li>Remember the logistics are not figured out and these all may change</li>
  <li>If interested send Dr. Packer an email</li>
</ul>

<h1 id="aitp-websitetemporary">AITP Website(temporary)</h1>
<ul>
  <li>We have put up a website hosted by gitlab</li>
</ul>

<h1 id="the-pacise-conf">The PACISE Conf.</h1>
<ul>
  <li>This has moved to Millersville (it is now further away)</li>
  <li>There are presentation opportunities here too</li>
</ul>

<h1 id="coding-competition">Coding Competition</h1>
<ul>
  <li>Looking for two teams of three for a robotics team and coding team</li>
  <li>There are also presenters for posters and papers</li>
  <li>No experience needed!</li>
  <li>The competition is held in the Spring semester however:
    <ul>
      <li>Practices will start every Friday between 2pm and 3pm in the advanced computer lab</li>
    </ul>
  </li>
</ul>

<h1 id="fundraising">Fundraising</h1>
<ul>
  <li>We do not want to sell candy (or anything generic)</li>
  <li>We may sell things that we can cut out with the laser cutter</li>
</ul>

<h1 id="jodys-corner">Jody’s Corner</h1>
<ul>
  <li>We NEED to start recruiting (we hopefully won’t be here forever)
    <ul>
      <li>We can have a small activity were we can get people to just hang out with us</li>
    </ul>
  </li>
  <li>Sometime in November Keith will present his keyboards/drone seminar</li>
  <li>West PACC’S is November 10th</li>
  <li>October 12th a former student will come back to talk about their job, and the opportunities</li>
  <li>We are getting a new projector</li>
  <li>We have a room number G-42! And a plaque that says it!!!</li>
  <li>We will soon be holding small talks from interviewees</li>
</ul>

  </div>

</article>

{%endblock%}